body{
    background-color: rgba(127, 255, 212, 0.466);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 2px;
    margin-top: 50px;
    border: 1px solid rgb(0, 0, 0);
    height: 500px;
    border-radius: 20px;
    width: 550px;
    background-color: rgba(255, 235, 205, 0.6);
    flex-wrap: wrap;
    overflow: auto;
}
h1{
    display: block;
    width: 550px;
    text-align: center;
    margin-bottom: 2px;
}
input{
    height: 1.7rem;
    border-radius: 10px;
    width: 25rem;
    margin: 3px;
    background-color: rgba(127, 255, 212, 0.37);
}
button{
    height: 2rem;
    border-radius: 10px;
    width: 5rem;
    background-color: rgba(95, 158, 160, 0.774);
    margin: 3px;
}
.delbtn{
    height: 22px;
    width: 75px;
    border-radius: 5px;
    background-color: #1c76a7bb;
    font-size: 1rem;
    padding-right: 2px;
    padding-left: 2px;
}
ul{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}
li{
    margin-right: 12px;
    font-size: 1.3rem;
}